* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "hk_groteskmedium";
  src: url("hkgrotesk-medium-webfont.woff2") format("woff2"),
    url("hkgrotesk-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.containter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background: #252837;
  min-height: 100vh;
}

.neumorphism-1 {
  height: 10%;
  width: 100%;
  border-radius: 25px;
  background: linear-gradient(145deg, #212432, #282b3b);
  box-shadow: 20px 20px 60px #1f222f, -20px -20px 60px #2b2e3f;
}

.neumorphism-1 h1 {
  font-family: "EB Garamond", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 600%;
  color: #ffffff;
  text-align: center;
  position: relative;
  top: 50%;
}

h2 {
  font-family: "hk_groteskmedium";
  font-size: 200;
  color: #ffffff;
  text-align: center;
  position: relative;
  top: 50%;
  margin-bottom: 12px;
}
